[submodule "capra_jetson_stack"]
	path = capra_jetson_stack
	url = https://github.com/clubcapra/capra_jetson_stack.git
[submodule "capra_roboguard"]
	path = capra_roboguard
	url = https://github.com/clubcapra/capra_roboguard.git
[submodule "capra_steamdeck"]
	path = capra_steamdeck
	url = https://github.com/clubcapra/capra_steamdeck.git
